.venv/
__pycache__/
*.pyc
.mypy_cache/
.ruff_cache/
.pytest_cache/
.git/
.github/
data/
!data/indexes
!data/indexes/**
mlruns/
wandb/
notebooks/
docs/
tests/
airflow/
slackbot/
ollama/
*.log
*.db
*.sqlite
.env
